:root {
  --primaryFont: "Manrope", sans-serif;
  --primaryColor: #77b3d2;
  --secondaryColor: #b9d8e8;
  --footerColor: #98c6dd;
}

* {
  box-sizing: border-box;
  list-style: none;
  font-family: var(--primaryFont);
}

h2 {
  text-transform: uppercase;
}

ul {
  padding-inline-start: 0;
}

p {
  margin: 0;
}

header img {
  max-width: 300px;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 550px) {
  header img {
    max-width: 200px;
  }
}

header div {
  background-color: var(--primaryColor);
  padding: 1.5rem;
}

header div ul {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  display: flex;
  gap: 1rem;
}

nav ul {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin: 2rem 0;
}

.selected {
  border-bottom: 2px solid var(--primaryColor);
}

article {
  display: grid;
}

.intro,
.sust {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.intro h2 {
  font-size: 3rem;
  margin: 0;
}

@media screen and (max-width: 700px) {
  section h2 {
    font-size: 2rem;
  }
}

section img {
  max-width: 200px;
}
.intro {
  background-color: var(--secondaryColor);
}

.intro img {
  width: 700px;
  max-width: 100%;
}
.products {
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  place-items: center;
}
.products div {
  display: grid;
  max-width: 200px;
  gap: 1rem;
}
.products button {
  background-color: var(--primaryColor);
  color: white;
  text-transform: uppercase;
  border: none;
}

.products div + p {
  text-align: right;
  margin-top: 2rem;
  margin-right: 2rem;
  grid-column: 1/-1;
}
.sust {
  margin-bottom: 2rem;
}
.sust div {
  max-width: 70%;
}

.sust div p:first-of-type {
  font-style: italic;
}

.sust div p:last-child {
  margin-top: 1rem;
  font-weight: 300;
}
.some {
  text-align: center;
  margin-bottom: 2rem;
}
.some div {
  margin: 2rem;
}
footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  justify-items: center;
  background-color: var(--footerColor);
  padding: 3rem 0;
}

footer h3 {
  color: white;
}

footer input {
  border: none;
  padding: 10px;
  background-color: #d8edf0;
}

footer aside {
  grid-column: 3/4;
  margin-top: -5rem;
}

i {
  background-color: #d8edf0;
  color: #22343d;
  border-radius: 25px;
  font-size: 30px;
}
footer i:nth-child(2),
.some i:first-of-type {
  padding: 10px 12px;
  margin-right: 10px;
}
footer i:last-child,
.some i:last-of-type {
  padding: 10px 15px;
}

@media screen and (max-width: 700px) {
  footer {
    grid-template-columns: 1fr 1fr;
  }
  footer aside {
    grid-column: 2/3;
    margin-top: 0;
  }
}

@media screen and (max-width: 500px) {
  footer {
    grid-template-columns: 1fr;
    justify-items: left;
    padding-left: 2rem;
  }
  footer aside {
    grid-column: 1/2;
  }
}
