:root {
  --primaryFont: "Manrope", sans-serif;
  --primaryColor: #77b3d2;
  --secondaryColor: #b9d8e8;
  --footerColor: #98c6dd;
}

* {
  box-sizing: border-box;
  font-family: var(--primaryFont);
}
body {
  margin: 0;
}
h1,
h2 {
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  background-color: var(--secondaryColor);
}

nav a {
  padding: 4px;
}

ul {
  padding-inline-start: 0;
}
li {
  list-style: none;
}
p {
  margin: 0;
}

header img {
  max-width: 300px;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 550px) {
  header img {
    max-width: 200px;
  }
}

header div {
  background-color: var(--primaryColor);
  padding: 1.5rem;
}

header div ul {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  display: flex;
  gap: 1rem;
}

nav ul {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin: 1.5rem 0;
}

.selected {
  border-bottom: 2px solid var(--primaryColor);
}

article {
  display: grid;
}

.intro,
.sust {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.intro h1 {
  font-size: 3rem;
  margin: 0;
}

@media screen and (max-width: 700px) {
  section h2 {
    font-size: 2rem;
  }
}

section img {
  max-width: 200px;
}
.intro {
  background-color: var(--secondaryColor);
}

.intro img {
  width: 700px;
  max-width: 100%;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
  width: 95%;
  margin: 0 auto;
}

.home h2 {
  grid-column: 1/-1;
  width: 95%;
  margin: 2rem auto 0 auto;
}

.products a {
  margin: 2rem;
  display: grid;
  max-width: 200px;
}
.products button {
  background-color: var(--primaryColor);
  color: white;
  text-transform: uppercase;
  border: none;
}

.products + p {
  text-align: right;
  margin: 1rem 2rem 2rem 0;
  grid-column: 1/-1;
  place-self: end;
}

.products + p a,
.sust p a {
  font-weight: 800;
}

.products aside {
  margin-top: 2rem;
  grid-column: 1/-1;
  color: var(--primaryColor);
  /* color: white; */
  text-align: center;
  font-size: 1.6rem;
}

.products aside p {
  margin-top: -0.5rem;
  margin-bottom: 1.5rem;
}

.sust {
  padding: 2rem 0;
  background-color: var(--secondaryColor);
}

@media screen and (min-width: 700px) {
  .sust div p {
    max-width: 70%;
  }
}

.sust div p:first-of-type {
  font-style: italic;
}

.sust div p:last-child {
  margin-top: 1rem;
  font-weight: 300;
}
.some {
  text-align: center;
  margin: 2rem 0;
}
.some div {
  margin: 2rem;
}

/* shop page */
.green {
  background-color: #d3eada;
}

#videoBG {
  object-fit: cover;
  object-position: center;
  width: 80%;
  height: fit-content;
  margin: 0 auto;
}

.shop_intro {
  display: grid;
  background-color: var(--secondaryColor);
}

.shop_intro div {
  place-self: center;
  text-align: center;
  color: white;
}

.shop_intro h1 {
  font-size: 2.5rem;
  margin: 0;
}

/* product page */
.product_page {
  width: 95%;
  margin: 0 auto;
}
/* .product_page article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  place-items: center;
  margin-bottom: 5rem;
} */

.product_page article {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  place-items: center;
  margin-bottom: 5rem;
  /* height: 500px;
  overflow: scroll; */
  place-items: center;
}

.product_page img {
  grid-column: auto;
  grid-row: auto;
  margin: 0 auto;
  max-width: 100px;
  height: fit-content;
  opacity: 30%;
  transition: 1s;
}

.product_page img:hover {
  opacity: 100%;
  max-width: 400px;
}

/* .productInfo {
  grid-column: 2/3;
} */

.productInfo {
  grid-row: 5/-1;
}

@media screen and (min-width: 1000px) {
  .productInfo {
    width: 75%;
    margin: 0 auto;
  }
}

.productInfo h1 {
  text-transform: initial;
  margin-bottom: 0;
}

.price {
  font-weight: 600;
}

.productInfo p {
  margin-bottom: 1rem;
}

.productInfo button {
  background-color: var(--primaryColor);
  color: white;
  text-transform: uppercase;
  border: none;
  padding: 0.5rem 2rem;
}
.product_page article + p {
  font-size: 1.2rem;
}
.product_page section {
  text-align: center;
  margin: 2rem 0;
}

.product_page section img {
  max-width: 300px;
  margin: 1rem 0;
}

.product_page section h3 {
  text-transform: uppercase;
  font-size: 2rem;
}
.product_page section p:first-of-type {
  font-size: 1.5rem;
  width: 40%;
  margin: 0 auto;
}
.product_page section p:last-child {
  font-weight: 200;
}

.product_page section a {
  font-weight: bold;
}

/* footer */
footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  justify-items: center;
  background-color: var(--footerColor);
  padding: 2rem 0;
  font-size: 12px;
}

footer h3 {
  color: white;
}

footer input {
  border: none;
  padding: 10px;
  background-color: #d8edf0;
}

i {
  background-color: #d8edf0;
  color: #22343d;
  border-radius: 25px;
  font-size: 30px;
}

i:hover {
  background-color: white;
  outline: 3px solid #d8edf0;
}

.ig i {
  padding: 10px 12px;
  margin-right: 10px;
}
.fb i {
  padding: 10px 15px;
}
.shop_intro i {
  background-color: initial;
  color: white;
  font-size: 50px;
  margin-top: -10px;
}

@media screen and (max-width: 700px) {
  footer {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 500px) {
  footer {
    grid-template-columns: 1fr;
    justify-items: left;
    padding-left: 2rem;
  }
}
