:root {
  --primaryFont: "Manrope", sans-serif;
  --primaryColor: #77b3d2;
  --secondaryColor: #b9d8e8;
}

* {
  box-sizing: border-box;
  list-style: none;
}
ul {
  padding-inline-start: 0;
}

header img {
  max-width: 300px;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 550px) {
  header img {
    max-width: 200px;
  }
}

header div {
  background-color: var(--primaryColor);
  padding: 1.5rem;
}

header div ul {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  display: flex;
  gap: 1rem;
}

nav ul {
  display: flex;
  gap: 2rem;
  justify-content: center;
  font-family: var(--primaryFont);
  margin: 2rem 0;
}

.selected {
  border-bottom: 2px solid var(--primaryColor);
}
